.navig
{
position: fixed;
top: 0px;
right: 0px;
background-color: green;
direction:rtl;
width: 200px;

	
}
.sect>article
{
position: relative;
top:-10px;
left:500px;
background-color: blue;
direction: rtl;
padding: 10px;
width: 700px;
	
}
